@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-navy: #0B4F71;
  --color-brand-gold: #F5A623;
  --color-brand-orange: #F2871F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply bg-white text-slate-700 antialiased;
  }

  h1, h2, h3, h4 {
    @apply text-brand-navy font-semibold;
  }
}
